modules = ["python-3.12", "nodejs-20", "bash"]
run = "node index.js"

[nix]
channel = "stable-25_05"

[deployment]
run = ["sh", "-c", "node index.js"]

[[ports]]
localPort = 5000
externalPort = 5000
exposeLocalhost = true

[[ports]]
localPort = 8000
externalPort = 8000

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 8082
externalPort = 3000

[workflows]
runButton = "Full Stack App"

[[workflows.workflow]]
name = "Django Backend"
author = 42802080
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd backend && python manage.py runserver 0.0.0.0:5000"

[[workflows.workflow]]
name = "Frontend React"
author = 42802080
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd frontend && npm start"

[[workflows.workflow]]
name = "Full Stack App"
author = 42802080
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd backend && python manage.py runserver 0.0.0.0:5000"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd frontend && npm start"
